@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}

html {
  font-size: 65%;
}

.section-heading {
  font-size: 12rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

/*Navbar*/
.navbar {
  width: 100%;
  height: 14rem;
  background-color: #fff;
  position: fixed;
  top: -14rem;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.2rem 0.2rem 0.2rem #000;
          box-shadow: 0.2rem 0.2rem 0.2rem #000;
  -webkit-transition: top 0.5s 0.2s;
  transition: top 0.5s 0.2s;
}

.navbar.change {
  top: 0;
  -webkit-transition: top 0.4s 0.2s;
  transition: top 0.4s 0.2s;
}

.navbar-link {
  color: #77ddf7;
  margin: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s, opacity 0.4s;
  transition: color 0.3s, opacity 0.4s;
  opacity: 0;
}

.change .navbar-link {
  opacity: 1;
}

.change .navbar-link:nth-child(1) {
  -webkit-transition: opacity 0.4s 0.5s, color 0.3s;
  transition: opacity 0.4s 0.5s, color 0.3s;
}

.change .navbar-link:nth-child(2) {
  -webkit-transition: opacity 0.4s 0.6s, color 0.3s;
  transition: opacity 0.4s 0.6s, color 0.3s;
}

.change .navbar-link:nth-child(3) {
  -webkit-transition: opacity 0.4s 0.7s, color 0.3s;
  transition: opacity 0.4s 0.7s, color 0.3s;
}

.change .navbar-link:nth-child(4) {
  -webkit-transition: opacity 0.4s 0.8s, color 0.3s;
  transition: opacity 0.4s 0.8s, color 0.3s;
}

.change .navbar-link:nth-child(5) {
  -webkit-transition: opacity 0.4s 0.9s, color 0.3s;
  transition: opacity 0.4s 0.9s, color 0.3s;
}

.navbar-link:hover {
  color: #0fa5ff;
}

.navbar-link i {
  font-size: 7rem;
}

.navbar-link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}

.menu {
  width: 4rem;
  height: 6rem;
  background-color: #fff;
  position: fixed;
  top: 1rem;
  left: 5rem;
  border-radius: 30rem 30rem 15rem 15rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem -0.1rem 0.1rem #000;
          box-shadow: 0.1rem 0.1rem 0.1rem #000, -0.1rem -0.1rem 0.1rem #000;
  cursor: pointer;
  -webkit-transition: top 0.5s 0.2s;
  transition: top 0.5s 0.2s;
}

.menu.change {
  top: 15rem;
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

.menu::before {
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: #fff;
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
  -webkit-box-shadow: 0.1rem 0 0.1rem #000;
          box-shadow: 0.1rem 0 0.1rem #000;
}

/*Section 1*/
.section-1 {
  width: 100%;
  height: 100vh;
  background-color: #77ddf7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.food {
  width: 400px;
  height: 400px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.food.change {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

/*Section 2*/
.section-2 {
  width: 100%;
  height: 100vh;
  background-color: #0fa5ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10rem;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card {
  width: 30rem;
  background-color: white;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1rem 1rem 1rem #000;
          box-shadow: 1rem 1rem 1rem #000;
  position: relative;
  -webkit-transform: rotateY(20deg) skewX(-2deg);
          transform: rotateY(20deg) skewX(-2deg);
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

.card:hover {
  -webkit-transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
          transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
  -webkit-box-shadow: 2rem 2rem 2rem #000;
          box-shadow: 2rem 2rem 2rem #000;
}

.card::before {
  content: "";
  height: 100%;
  width: 1rem;
  background-color: #e6e6e6;
  position: absolute;
  top: 0;
  left: -1rem;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-box-shadow: -0.1rem -0.1rem 0.1rem #000;
          box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card::after {
  content: "";
  height: 1rem;
  width: 100%;
  background-color: #e6e6e6;
  position: absolute;
  top: -1rem;
  left: 0;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-box-shadow: -0.1rem -0.1rem 0.1rem #000;
          box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card-img {
  width: 100%;
}

.card-name {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: #111;
  margin: 2rem 0;
  text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.card-btn {
  width: 70%;
  background-color: #77ddf7;
  color: white;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  -webkit-box-shadow: -0.2rem -0.2rem 0.2rem #8ee6fc;
          box-shadow: -0.2rem -0.2rem 0.2rem #8ee6fc;
}

/*Section 3*/
.section-3 {
  background-color: #6055f8;
  padding: 5rem 0;
}

.food-img {
  width: 24vw;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0.3rem 0.3rem 0.1rem #fff, 0.5rem 0.5rem 0.1rem #6055f8, 0.7rem 0.7rem 0.1rem #fff;
          box-shadow: 0.3rem 0.3rem 0.1rem #fff, 0.5rem 0.5rem 0.1rem #6055f8, 0.7rem 0.7rem 0.1rem #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gallery-link:hover .food-img {
  -webkit-box-shadow: 1rem 1rem 0.1rem #fff, 2rem 2rem 0.1rem #6055f8, 3rem 3rem 0.1rem #fff;
          box-shadow: 1rem 1rem 0.1rem #fff, 2rem 2rem 0.1rem #6055f8, 3rem 3rem 0.1rem #fff;
  opacity: 0.5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10rem;
}

.gallery-link {
  position: relative;
  margin: 4rem 1rem;
}

.gallery-link::before {
  content: "";
  position: absolute;
  top: 2vw;
  left: 80%;
  width: 0.2rem;
  height: 0;
  background-color: #fff;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  z-index: 10;
}

.gallery-link:hover::before {
  height: 80%;
}

.gallery-link::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 2rem;
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.gallery-link:hover::after {
  width: 90%;
}

.food-name {
  position: absolute;
  top: 3rem;
  left: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.gallery-link:hover .food-name {
  width: 100%;
  -webkit-transition: width 1.5s 0.5s;
  transition: width 1.5s 0.5s;
}

.food-description {
  position: absolute;
  bottom: 3vw;
  left: 2rem;
  width: 70%;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

/*Section 4*/
.section-4 {
  width: 100%;
  height: 30vh;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 3rem 0;
  position: relative;
}

.section-4-text {
  text-transform: uppercase;
}

.section-4-heading {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}

.section-4-paragraph {
  font-size: 1.5rem;
  font-weight: 600;
  color: #a19aff;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-form-input {
  width: 35rem;
  height: 5rem;
  padding: 1rem;
  border: 0.2rem solid #6055f8;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #6055f8;
}

.signup-form-input::-webkit-input-placeholder {
  color: #6055f8;
}

.signup-form-input:-ms-input-placeholder {
  color: #6055f8;
}

.signup-form-input::-ms-input-placeholder {
  color: #6055f8;
}

.signup-form-input::placeholder {
  color: #6055f8;
}

.signup-form-btn {
  position: relative;
  left: -4.5rem;
  width: 4rem;
  height: 4rem;
  background-color: #222;
  color: #fff;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.copyright {
  position: absolute;
  bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.1rem;
  border-top: 0.1rem solid #555;
  padding-top: 6rem;
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */