@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'PT Sans', sans-serif;
}

html {
    font-size: 65%;
}

.section-heading {
    font-size: 12rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background-color: rgb(119, 221, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.food {
    width: 400px;
    height: 400px;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s;
}

.food.change {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s 0.3s;
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(15, 165, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 30rem;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000;
    position: relative;
    transform: rotateY(20deg) skewX(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}

.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
    box-shadow: 2rem 2rem 2rem #000;
}


.card::before {
    content: "";
    height: 100%;
    width: 1rem;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: 0;
    left: -1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card::after {
    content: "";
    height: 1rem;
    width: 100%;
    background-color: rgb(230, 230, 230);
    position: absolute;
    top: -1rem;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -0.1rem -0.1rem 0.1rem #000;
}

.card-img {
    width: 100%;
}

.card-name {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.5rem;
    color: #111;
    margin: 2rem 0;
    text-shadow: 0.15rem 0.15rem 0.15rem #000;
}

.card-btn {
    width: 70%;
    background-color: rgb(119, 221, 247);
    color: rgb(255, 255, 255);
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem 0.2rem rgb(142, 230, 252);
}

/*Section 3*/

.section-3 {
    background-color: rgb(96, 85, 248);
    padding: 5rem 0;
}

.food-img {
    width: 24vw;
    height: 15vw;
    object-fit: cover;
    box-shadow: 0.3rem 0.3rem 0.1rem #fff, 0.5rem 0.5rem 0.1rem rgb(96, 85, 248), 0.7rem 0.7rem 0.1rem #fff;
    transition: all 0.5s;
}

.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem 0.1rem #fff, 2rem 2rem 0.1rem rgb(96, 85, 248), 3rem 3rem 0.1rem #fff;
    opacity: 0.5;
    transform: scale(1.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.gallery-link {
    position: relative;
    margin: 4rem 1rem;
}

.gallery-link::before {
    content: "";
    position: absolute;
    top: 2vw;
    left: 80%;
    width: 0.2rem;
    height: 0;
    background-color: #fff;
    transition: height 0.5s;
    z-index: 10;
}

.gallery-link:hover::before {
    height: 80%;
}

.gallery-link::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: #fff;
    transition: width 0.5s;
}

.gallery-link:hover::after {
    width: 90%;
}

.food-name {
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s 0.5s;
}

.food-description {
    position: absolute;
    bottom: 3vw;
    left: 2rem;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s;
}